body {
font-family: 'Open Sans', sans-serif;
font-size: 16px;
line-height: 1;
}
h1 {
  font-size: 84px;
}
textarea {
  resize: none;
  width: 100%;
  height: 100%;
}
.jumbotron {
  text-align: center;
  background-color: transparent;
  color: black;
  border-radius: 0;
  border-bottom: 10px solid black;
}
.note-area {
  height: 125px;
  padding: 0 !important;
}
.btn-save {
  width:100%;
  height:100%;
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #06AED5;
  color: white;
}
.btn-save i:hover {
  font-size: 20px;
  transition: all .3s ease-in-out;
}
.save-area {
  padding: 0 !important;
}
#current-date {
  font-size: 36px;
}
